.catalog {
  padding-top: 1rem;
  padding-bottom: 5.5rem;
  display: block;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;
}

.catalog__info {
  display: inline-block;
  margin: 1rem 0;
}

.catalog__products {
  display: flex;
  flex-flow: row wrap;
}