.product {
  padding-top: 1rem;
  padding-bottom: 5.5rem;
  display: block;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;
}

.product__page {
  display: flex;
}

.product .product__image,
.product .product__content {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .product .product__image,
  .product .product__content {
    width: 50%;
  }
}

.product .badge {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 800px) {
  .product .badge {
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
  }
}
