.topbar {
  background-color: #fff;
  position: fixed;
  padding: 1rem 0;
  height: 5.5rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.topbar__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.topbar__logo {
  width: 20rem;
  height: 3rem;
  align-self: center;
}

.topbar__icons {
  align-items: center;
  display: flex
}

.topbar__icon {
  display: flex;
  align-self: center;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 2rem;
  line-height: 0;
  outline: none;
  padding: 0;
  position: relative;
  margin-left: 1.5rem;
}

.counter {
  overflow: hidden;
  position: absolute;
  right: -0.7rem;
  top: 0;
  height: 1.7rem;
  border-radius: 50%;
  width: 1.7rem;
  background: #cf3838;
  color: #fff;
  line-height: 1.7rem;
  text-align: center;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  z-index: 10;
}

.counter__value {
  font-size: 1rem;
}