.button {
  display: flex;
  align-self: center;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 2rem;
  line-height: 0;
  outline: none;
  padding: 0;
  position: relative;
  margin-left: 1.5rem;
}

.bag__value {
  overflow: hidden;
  position: absolute;
  right: -0.7rem;
  top: 0;
  height: 1.7rem;
  border-radius: 50%;
  width: 1.7rem;
  background: #cf3838;
  color: #fff;
  line-height: 1.7rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  z-index: 5;
}
