@import "reset.css";
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

:root {
  --font-color: #212529
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #f9f9f9;
  color: var(--font-color);
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:focus,
a:hover {
  color: var(--font-color);
  text-decoration: none;
}

.container {
  display: block;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}
