.catalog-item {
  width: 50%;
  padding: 1rem .25rem;
  position: relative;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .catalog-item {
    width: 25%;
  }
}

.catalog-item__image {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.catalog-item__image img {
  width: 100%;
}

.catalog-item__discount {
  position: absolute;
  right: 0;
  margin: 0;
  background-color: #212529;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.2rem;
}

.catalog-item__name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.catalog-item__pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-item__price {
  font-size: 1.4rem;
}

.catalog-item__price--from {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #a7a7a7;
  text-decoration: line-through;
}